.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.slider_table {
	margin: auto auto;
}

.highlight_numbers {
	font-size: 28;
	font-weight: bold;
	
}

.utt1 {
    padding-bottom: 350px;
    font-size:20px

}

.utt2 {
    font-size:20px
}

.utt3 {
    font-size:20px

}

h3 { 
  margin-top: 0.67em;
  margin-bottom: 0.1em;
}